* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

/* navbar */
.homepage{
  min-height: 100vh;
  width: 100%;
  background-image: url(../IMAGE/backgroundaboutme/onanoko.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homepage::after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgb(34,33,33);
  opacity: .3;
  z-index: -2;
}
.navbar{
  position: absolute;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.navbar a{
  color: white;
}
.navbar h1{
  color: white;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 5px;
}
.nav-list ul{
  display: flex;
  margin-top: 5px;
}
.nav-list ul li{
  margin-right: 60px;
  padding: 10px;
  font-size: 15px;
}
.nav-list ul li a::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  transition: width 0.3s ease;
  background: rgb(255, 0, 0);
}
.nav-list ul li a:hover::after{
  width: 100%;
}

/* burger icon */
.menu-icon{
  width: 40px;
  height:50px;
  position: absolute;
  top:45px;
  right:50px;
  cursor: pointer;
  display: none;
}
@media screen  and (max-width:750px){
  .menu-icon{
     display: block;
     z-index: 2;
  }
  .nav-list{
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(28, 26, 26, 0.2);
      backdrop-filter: blur(15px);
      width: 100%;
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      z-index: 1;
  }
  .nav-list ul{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .nav-list ul li{
      margin: 25px 0;
      font-size: 25px;
  }
  .navbar a h1{
      position: absolute;
      top: 40px;
      left: 50px;
  }
  .menu-mobile{
      margin-left: 0;
  }
}
@media screen and (max-width:350px){
   .navbar a h1{
      position: absolute;
      top: 50px;
      left: 10px;
      font-size: 30px;
   }
   .menu-icon{
      right:10px;
   }
   .Div h1 {
      font-size: 30px;
   }
   .Div p{
      font-size: 15px;
      
   }
   .Div .btn{
      padding: 5px 10px;
   }
}

/* animation web */
.contener {
  text-align: center;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.contener span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 19px;
  position: relative;
  animation: text 3s 1;
  font-family: 'Libre Baskerville', serif;
}

.text2 {
  font-size: 20px;
  color: rgb(255, 0, 0);
  font-family: 'Rowdies', cursive;
  -webkit-text-stroke: 1px #000;
  font-weight: 1000;
  animation: text1 3s 1;
}

@keyframes text {
  0% {
    color: white;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes text1 {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.box {
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.b1{
  animation: ani1 15s infinite;
}
.b2{
  animation: ani2 15s infinite;
}
.b3{
  animation: ani3 15s infinite;
}
.b4{
  animation: ani4 15s infinite;
}
.b5{
  animation: ani5 15s infinite;
}

@keyframes ani1{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 0;
  }
}

@keyframes ani2{
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
}

@keyframes ani3{
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
}

@keyframes ani4{
  60%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}

@keyframes ani5{
  80%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* konten */
.content{
	position: absolute;
	top: 300%;
	left:8%;
	transform: translateY(-50%);
}
.content h1 {
  position: absolute;
  color: white;
  font-size: 37px;
  padding-left: 150px;
}
.content h2{
  color: white;
  font-size: 17px;
  width: 600px;
  text-align: center;
  padding-top: 80px;
}
/* button */
.discord .button-one{
  position: absolute;
  margin-top: 35%;
  margin-left: 17%;
	background-color:red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}
.discord .button-one:hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
/* 2 */
.Instagram .button-two{
  position: absolute;
  margin-top: 35%;
  margin-left: 30%;
	background-color:red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}
.Instagram .button-two:hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
.pinjam .button-three{
  position: absolute;
  margin-top: 4%;
  margin-left: 7%;
	background-color:red;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}
.pinjam .button-three:hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}
/* halaman 2 */
.about{
	width: 100%;
	height: 415px;
  padding: 110px 0;
	background-color: #191919;
}
.tentangtext{
	width: 900px;
}
.main{
  padding-top: 30px;
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about h2{
  position: relative;
  text-align: center;
	color: red;
	font-size: 85px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.tentangtext h5{
	color: white;
  text-align: center;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.tentangtext p{
  padding-top: 30px;
  text-align: center;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 23px;
	margin-bottom: 45px;
}
/* service */
.service{
	background: #101010;
  width: 100%;
  height: 440px;
	padding: 150px 0px;
}
.title h2{
	color: rgb(255, 255, 255);
	font-size: 55px;
	width: 1130px;
	margin-left: 100px;
}
.title .pr {
  width: 700px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 100px;
}
.space {
  margin-top: 100px;
}
/* footers */
.contene{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000f3;
  padding: 40px 0;
}
.footer-col{
   width: 25%;
   padding: 20px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(255, 0, 0);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #191919;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}